@import url('https://fonts.cdnfonts.com/css/menlo');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Luckiest+Guy&family=Roboto+Flex:wght@400;500;600;700;800;900;1000&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .drop-shadow-custom-light {
    filter: drop-shadow(0 -4px 4px rgba(100, 106, 255, 0.4))
      drop-shadow(4px 0 4px rgba(100, 106, 255, 0.4))
      drop-shadow(0 4px 4px rgba(100, 106, 255, 0.4));
  }
  .drop-shadow-custom-dark {
    filter: drop-shadow(0 -4px 4px rgba(0, 209, 199, 0.4))
      drop-shadow(4px 0 4px rgba(0, 209, 199, 0.4))
      drop-shadow(0 4px 4px rgba(0, 209, 199, 0.4));
  }
}

.react-activity-calendar__calendar {
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.experience-container {
  position: relative;
}

.experience-container::before {
  content: '';
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #646aff;
  height: 50px;
}

.experience-container.left::after {
  content: '';
  position: absolute;
  bottom: -100px;
  left: calc(50% - 97px);
  transform: translateX(-50%);
  width: 200px;
  height: 50px;
  border-left: 4px solid #646aff;
  border-top: 4px solid #646aff;
}

.experience-container.right::after {
  content: '';
  position: absolute;
  bottom: -100px;
  left: calc(50% + 97px);
  transform: translateX(-50%);
  width: 200px;
  height: 50px;
  border-right: 4px solid #646aff;
  border-top: 4px solid #646aff;
}

.experience-container.dark::before {
  border-color: #00d1c7;
}

.experience-container.dark::before.light {
  border-color: #646aff;
}

.experience-container.dark::after {
  border-color: #00d1c7;
}

.experience-container.dark::after.light {
  border-color: #646aff;
}

@media (max-width: 767px) {
  .experience-container.left::after,
  .experience-container.right::after {
    border: none;
  }
}

@media (min-width: 1024px) {
  .experience-container.left::after,
  .experience-container.right::after {
    width: 300px;
    height: 50px;
  }
  .experience-container.left::after {
    left: calc(50% - 147px);
  }
  .experience-container.right::after {
    left: calc(50% + 147px);
  }
}

@media (min-width: 1024px) {
  .experience-container.left::after,
  .experience-container.right::after {
    width: 500px;
    height: 50px;
  }
  .experience-container.left::after {
    left: calc(50% - 247px);
  }
  .experience-container.right::after {
    left: calc(50% + 247px);
  }
}

@media (min-width: 1500px) {
  .experience-container.left::after,
  .experience-container.right::after {
    width: 650px;
    height: 50px;
  }
  .experience-container.left::after {
    left: calc(50% - 322px);
  }
  .experience-container.right::after {
    left: calc(50% + 322px);
  }
}

